<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>test</title>
	<style>
		.bigbox{
			width:958px;
			height:40px;
			border:1px solid black;
			margin:100px auto 0px;
			text-align:center;
			font-size:0px;
		}
		.bigbox div{
			display:inline;
			padding:0px 10px;
			font-size:14px;
			font-family:"Microsoft YaHei UI";
			line-height:40px;
			color:#333;
		}
	</style>
</head>
<body>
	<div class="bigbox">
		<div>{{ name.1 }}</div><div>|</div><div>{{ name.2 }}</div><div>|</div><div>{{ name.3 }}</div><div>|</div><div>{{ name.4 }}</div><div>|</div><div>{{ name.5 }}</div><div>|</div><div>{{ name.6 }}</div><div>|</div><div>{{ name.7 }}</div>
	</div>
</body>
</html>